<form #form="ngForm" [formGroup]="validateForm">
  <div>
    <label>Full Name</label>
    <input
      type="text"
      required
      minlength="3"
      [(ngModel)]="fullName"
      name="fullName"
      formControlName="fullNameValidate"
      class="form-control mt-2 w-50"
    />
    <div
      class="text-danger"
      *ngIf="validateForm.controls.fullNameValidate.invalid"
    >
      <div *ngIf="validateForm.controls.fullNameValidate.errors!['required']">
        * Full Name is required
      </div>
      <div *ngIf="validateForm.controls.fullNameValidate.errors!['minlength']">
        * min length is 3 characters
      </div>
    </div>
  </div>

  <div>
    <label>Address</label>
    <input
      type="text"
      required
      minlength="6"
      [(ngModel)]="address"
      name="Address"
      formControlName="addressValidate"
      class="form-control mt-2 w-50"
    />
    <div
      class="text-danger"
      *ngIf="validateForm.controls.addressValidate.invalid"
    >
      <div *ngIf="validateForm.controls.addressValidate.errors!['required']">
        * Address is required
      </div>
      <div *ngIf="validateForm.controls.addressValidate.errors!['minlength']">
        * min length is 6 characters
      </div>
    </div>
  </div>

  <div>
    <label>Credit Card Number</label>
    <input
      (ngModelChange)="creditCardChange(creditCardValue.value)"
      [(ngModel)]="creditCard"
      class="form-control mt-2 w-50"
      maxlength="16"
      minlength="16"
      name="credit Card Number"
      type="text"
      required
      formControlName="creditCardValidate"
      #creditCardValue
    />

    <div
      class="text-danger"
      *ngIf="validateForm.controls.creditCardValidate.invalid"
    >
      <div *ngIf="validateForm.controls.creditCardValidate.errors!['required']">
        * Credit Card is required
      </div>
      <div *ngIf="validateForm.controls.creditCardValidate.errors!['pattern']">
        * Only number should be allowed here.
      </div>
      <div
        *ngIf="validateForm.controls.creditCardValidate.errors!['minlength']"
      >
        * min length is 16 characters
      </div>
    </div>
    <p class="text-muted">
      <small>We will never share your payment details with anyone else.</small>
    </p>
  </div>

  <button
    disabled
    (click)="formSubmit()"
    [disabled]="form.invalid"
    class="btn btn-primary"
  >
    Submit
  </button>

  <div>your credit card number is {{ creditCard }}</div>
</form>
